body{
    background-color: #ffffff;
}
        
body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: #000000;
}

li {
    width: 130px;
}
.menu li a:hover{
    background-color: #575353;
    color: rgb(29, 169, 212);
}
a{
    text-decoration: none;
    color: #000000;
}
.header {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 15px;
}
.menu li a {
    display: block;
    padding: 12px;
    background-color: #ffffff;
}
#busca{
    background-color: #fff;
    height: 40px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    cursor: pointer;
}
#logo{
    height: 100px;
    width: 100px;
}
.carne {
    max-width: 300px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.form {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.price {
    margin-bottom: 15px;
    font-size: 1.2px;
    color: gray;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
img{
    height: 170px;
}
.container{
display: flex;  
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: flex-start;  
}

#buffet{
    height: 450px;
    padding: 50px;
}

p{
    float: right;
    margin-top: 100px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.form-container {
    background-color: white;
    padding: 20px;
    margin-left: 35%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

#btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#num{
    width: 100%;
}

#redes{
    float: left;
    margin-left: 30px
}
#imgredes{
    height: 60px;
    width: 60px;
    position: relative;
    top: 40px;
    right: 200px;
    margin-right: 50px;
}
